#select_button {
    display: none;
}

#services {
    display: none;
}

.jumbotron {
    margin-bottom: 0px;
}


.div_final_list {
    margin-bottom: 9px;
}

.span_final_list {
    float: left;
    width: 9%;
    font-size: large;
    font-family: serif;
}

.input_final_list {
    width: 50%;
}

#button_multiple_imgs {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: x-large;
    padding-top: 6px;
}

#search_button, #lucky_button {
    color: #000000;
}
